<div class="card-notif" style="background-color:{% if notif.read == 0 %}white{% else %}lightgray{% endif %}">
    <div class="card-content">
        <h6>{{ notif.description }} {{ moment(notif.timestamp).fromNow() }}</h6>
        {% if notif.category == "post" %}
        <a href="{{url_for('home.event_info', event_id=notif.sender_id)}}">View Event</a>
        {% elif notif.category == "update" %}
        <a href="{{url_for('home.event_info', event_id=notif.sender_id)}}">View Event</a>
        {% elif notif.category == "request" %}
        <a href="{{url_for('home.friend', user_id=notif.sender_id)}}">Accept</a>
        {% endif %}
	<br>
    </div>
</div>