{% extends "base.html" %}
{% set author = event.get_creator() %}

{% block content %}
<div class = "event-detail">
	<h1>{{ event.event_name }}</h1>
	<h4>Hosted by {% if author %}{{ author.username }}{% else %}$hostname{% endif %}</h4>
	<h4>Date: {{ moment(event.start_time).format('LLL') }}</h4>
	<h4>Location: {{ event.location }}</h4>
	<h4>Description: </h4> 
	<pre>
	{{ event.description }} 
	</pre>
	<a href="{{url_for('home.follow', event_id=event.id)}}">Follow</a>
	<a href="{{url_for('home.unfollow', event_id=event.id)}}">Unfollow</a>
	<br>
	<a href="{{url_for('home.calendar_insert', event_id=event.id)}}" >Add to Calendar</a>

	


</div>
{% endblock %}