{% extends "base.html" %}

{% block content %}
    <div class="content-section">
        <div class="row border-bottom mb-3">
            <div class="col-md-7">
                <h5 class="text-muted">Recently created events:</h5>
            </div>
        </div> 
        <div class="row mb-5">
            {% for event, activity in event_activity %}
                <div class="col-md-8 offset-md-2 card border border-dark mb-3 bg-light">
                    <div class="row align-self-end mr-1">
                        <p class="text-right text-light small">{{ moment(activity.time).fromNow() }}</p>
                    </div>
                    <div class="container text-center">
                        {% set author = event.get_creator() %}
                        {% include "card-event.html" %}
                    </div>
                </div>
            {% endfor %}
        </div>
    
    </div>
{% endblock %}