{% extends "base.html" %}


{% block content %}
<div class="content-section col-md-8 offset-md-2">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4"><h1 class="text-center">Sign In</h1></legend>
            <div class="form-group">
                {{ form.username.label(class="font-weight-bold") }}<br>
                {{ form.username(class="form-control form-control-lg") }}
                {% for error in form.username.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
            <p>
                {{ form.password.label(class="font-weight-bold") }}<br>
                {{ form.password(class="form-control form-control-lg") }}
                {% for error in form.password.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </p>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Don't have an account? <a class = "ml-2" href="{{ url_for('auth.register') }}">Click to Register!</a>
        </small>
    </div>
{% endblock %}
