{% extends "base.html" %}

{% block content_full %}
    <div class="col-md-12">
{% endblock %}

{% block content %}
<div class="content-section">
    <div class="banner">
        <div class="row coverbg bg-lav" style="margin-top: -15px;">
            <div class="col-md-3 align-self-baseline">
                <img class="img-fluid img-thumbnail" src="{{ url_for('static', filename = "profile_pics/" + user.img_file) }}" />
            </div>
            <div class="col-md-auto align-self-baseline" style="padding-bottom: 0.5rem;">
                <h1><a class="text-dark" style="color: royalblue;" href="">{{ user.username }}</a></h1>
            </div>
            <div class="col-md-3 ml-auto card align-self-end bg-lavlight">
                <h4 class="text-center">{{user.role}}</h4>
            </div>
        </div>

        <!-- Nav Tabs -->
        <div class="row nav nav-tab nav-justified justify-content-center align-items-end">
            <a class="nav-item nav-link text-light" href="{{ url_for('auth.profile', username=user.username) }}">Overview</a>
            {% if user.role == "Event Organizer" %}
                <a class="nav-item nav-link text-light" href="{{ url_for('organizer.user_posts', username=user.username) }}">Events</a>
            {% endif %}
            <a class="nav-item nav-link text-light" href="{{ url_for('organizer.followed', username=user.username) }}">Followed Events</a>
                <a class="nav-item nav-link text-light" href="{{ url_for('organizer.about', username=user.username) }}">About</a>
        </div>

    </div>

    <div class="row">

        {% block user_content %}

        <div class="col-md-5 ml-3">
            <div class="row mb-3">
                <div class="col-md-12 card bg-lav">
                    <div class="row mb-3 border-bottom border-light">
                        <div class="col-md-12">
                            <h4 class="text-center">About Me</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p>{{user.about}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 card bg-lav">
                    <div class="row mb-3 border-bottom border-light">
                        <div class="col-md-12">
                            <h4 class="text-center">Interests</h4>
                        </div>
                    </div>
                    <div class="row">
                        {% if user.interests %}
                            {% for item in user.interests.split(",") %}
                            <div class="col-md-6 mb-3">
                                <h5><span class="badge badge-info bg-tag">{{item.strip()}}</span></h5>
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="col-md-6 mb-3">
                                <h2 class="text-light text-center">Empty :(</h2>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- 
        <div class="col-md-6 ml-5 card bg-light">
            <h4 class="text-center border-bottom mb-3">Recent Activity:</h4>

            {% for item in activity %}
                <div class="row mb-3">
                    <div class="col-md-10 offset-md-1 card" style="background: rgb(237,241,245);">
                        {{item}}
                    </div>
                </div>
            {% endfor %}

        </div>
        -->

        <div class="col-md-6 ml-5 card bg-lav border">
            <div class="row mb-3 border-bottom border-light">
                <div class="col-md-12">
                    <h4 class="text-center">Recent Activity</h4>
                </div>
            </div>
            <div class="row mb-3">
                {% for item in activity %}
                <!-- Activity Card -->
                <div class="col-md-10 offset-md-1 card border border-dark mb-3 h-75">
                    <div class="container">
                        <p class = "text-right">{{item.time}}</p>
                    <p class="text-center">
                        {{ user.username + " " + item.verb }} 
                        <a href="/{{item.type}}/{{item.receiver_id}}">
                            {{ item.type }}
                        </a>
                    </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        {% endblock %}

    </div>
</div>

{% endblock %}